.imgbuttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.button{
  margin-top: 1rem !important;
}
.main-col{
  height: 20vh;
}
.resize-image-btn{
  display: flex;
  margin-top:2rem;
  margin-left:11rem;
  justify-content: center;
  align-items: center;
}